---
- name: Déclenchement des tâches Mautic
  hosts: infomaniak
  gather_facts: no
  tasks:
    - name: Mise à jour des segments
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:segments:update
      register: results
      ansible.builtin.debug:
        msg: "{{ results.stdout_lines }}"

    - name: Mise à jour des campagnes
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:campaigns:rebuild
      register: results
      ansible.builtin.debug:
        msg: "{{ results.stdout_lines }}"

    - name: Déclenchement des campagnes
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:campaigns:trigger
      register: results
      ansible.builtin.debug:
        msg: "{{ results.stdout_lines }}"

    - name: Mise à jour des segments
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:segments:update
      register: results
      ansible.builtin.debug:
        msg: "{{ results.stdout_lines }}"
