---
- name: Déclenchement des tâches Mautic
  hosts: infomaniak
  gather_facts: no
  tasks:
    - name: Mise à jour des segments
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:segments:update
      register: result
    
    - name: Résultat de la mise à jour des segments
      debug:
        var: result.stdout

    - name: Mise à jour des campagnes
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:campaigns:rebuild
      register: result
      
    - name: Résultat de la mise à jour des campagnes
      debug:
        var: result.stdout

    - name: Déclenchement des campagnes
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:campaigns:trigger
      register: result
      
    - name: Résultat du déclenchement des campagnes
      debug:
        var: result.stdout

    - name: Mise à jour des segments
      ansible.builtin.shell: php-8.0 /home/clients/bd21b4f6400fa6615dcdc469405ed03b/sites/m.digitalstories.com/bin/console mautic:segments:update
      register: result
      
    - name: Résultat de la mise à jour des segments
      debug:
        var: result.stdout
        
    - name: Notifier Discord
      include: send-message-discord.yaml
      vars:
        message: "Tâches CRON executées pour m.digitalstories.com"
