---
- name: Update and upgrade apt packages
  hosts: all

  tasks:
    - name: Update packages with apt
      when: ansible_pkg_mgr == 'apt'
      ansible.builtin.apt:
        update_cache: true
      register: update_result

    - name: Upgrade packages with apt
      when: ansible_pkg_mgr == 'apt'
      ansible.builtin.apt:
        upgrade: dist
      register: upgrade_result

    - name: Get current time
      ansible.builtin.set_fact:
        current_time: "{{ ansible_date_time.date }} {{ ansible_date_time }}"

    # Send Discord message when reboot is required
    - name: Send Discord message
      uri:
        url: "{{ discord_webhook_url }}"
        method: POST
        body_format: json
        body: 
          content: |
            {{ current_time }}
            Maintenance Contabo server :
            Mise à jour des paquets: {{ update_result.changed | ternary('effectué', 'non nécessaire') }},
            Mise à niveau des paquets: {{ upgrade_result.changed | ternary('effectué', 'non nécessaire') }}.
        headers:
          Content-Type: application/json
        status_code: 204
